.template-row {
    margin-bottom: 10px;
    display: grid;
    grid-template-areas: "row-date row-description row-category row-value row-btn-edit row-btn-del";
    grid-template-columns: 15% 1fr 20% 10% auto auto;
    padding: .2rem .5rem .2rem .5rem;
    align-items: center;
    grid-gap: .5rem;
}

.row-date {
    grid-area: row-date;
}

.row-description {
    grid-area: row-description;
}

.row-category {
    grid-area: row-category;
}

.row-value {
    grid-area: row-value;
}

.row-btn-edit {
    grid-area: row-btn-edit;
}

.row-btn-del {
    grid-area: row-btn-del;
}

.clr-transfer-source {

    background-color: #e5515f;
}

.clr-transfer-destiny {
    background-color: #42c47e;
}

.clr-spending {
    background-color: #db4828;
}

.clr-income {
    background-color: #2ca765;
}

@media (max-width: 768px) {
    .template-row {
        grid-template-areas: "row-description row-description row-description row-btn-edit" "row-date row-category row-value row-btn-del";
        grid-template-columns: 1fr 1fr 1fr auto;
        grid-template-rows: auto auto;
    }
}