<%- include('header'); -%>

<main class="container login-container">
    <div class="row justify-content-center">
        <div class="col-md-6 login-form-2">
            <h3>404 - This page doesn't exist</h3>
        </div>
    </div>
</main>

<%- include('imports'); -%>

<%- include('footer'); -%>