<%- include('header'); -%>

<div data-account-id="<%= id %>" class="page container">
    <main></main>

    <footer>
        <button id="btn-create-child" class="footer-button btn btn-success">New transaction</button>
    </footer>

    <section id="form"></section>
    <section id="confirm-modal"></section>
</div>

<%- include('imports'); -%>

<script src="/bundles/account.js"></script>

<%- include('footer'); -%>