<%- include('header'); -%>

<div class="page container">
    <main>
        <h2>Categories</h2>

        <div id="list"></div>
    </main>

    <footer>
        <button id="btn-create-child" class="footer-button btn btn-success">New category</button>
    </footer>

    <section id="form"></section>
    <section id="confirm-modal"></section>
</div>

<%- include('imports'); -%>

<script src="/bundles/category.js"></script>

<%- include('footer'); -%>