<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Money</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/styles/all.css" type="text/css">
    <link rel="stylesheet" href="/styles/row.css" type="text/css">
    <link rel="stylesheet" href="/styles/home.css" type="text/css">
    <link rel="stylesheet" href="/styles/account.css" type="text/css">
    <link rel="stylesheet" href="/styles/transaction.css" type="text/css">
</head>

<body>

