<%- include('header'); -%>

<div class="page container">
    <main></main>

    <section id="form"></section>

    <footer>
        <button id="btn-create-child" class="footer-button btn btn-success">New account</button>
    </footer>
</div>

<%- include('imports'); -%>

<script src="/bundles/home.js"></script>

<%- include('footer'); -%>